<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<!-- header part start -->
<% include ./partials/header %>
    <!-- header part end -->

    <!-- body part start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">

            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="section-warp ask-me">
                        <div class="container clearfix">
                            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Welcome to the Chainmap Challenge board</h2>
                                        <p>
                                            We need to add some content here for the developer. (work to do)
                                        </p>
                                        <div class="clearfix"></div>
                                        <!-- <a class="color button dark_button medium" href="#">About Us</a>
                                        <a class="color button dark_button medium" href="#">Join Now</a> -->
                                    </div>
                                    
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End box_icon -->
                        </div>
                        <!-- End container -->
                    </div>
                    <!-- End section-warp -->

                    <section class="container main-content">
                        <div class="row">
                            <div class="col-md-9">

                                <div class="tabs-warp question-tab">
                                    <ul class="tabs">
                                        <li class="tab">
                                            <a href="#" class="current">Recent Challenges</a>
                                        </li>
                                        <li class="tab">
                                            <a href="#">Most Responses</a>
                                        </li>
                                        <li class="tab">
                                            <a href="#">Recently Answered</a>
                                        </li>
                                        <li class="tab">
                                            <a href="#">No answers</a>
                                        </li>
                                    </ul>
                                    <div class="tab-inner-warp">
                                        <div class="tab-inner">
                                            <% if(data.mostRecent.length){ 
                                            for(var i = 0;i < data.mostRecent.length;i++) { %>
                                                <article class="question question-type-normal">
                                                    <h2>
                                                        <a href="/getChallengebyID/<%=data.mostRecent[i].challenge_id%>">
                                                            <%=data.mostRecent[i].title%>
                                                        </a>
                                                    </h2>

                                                            <div class="question-author">
                                                                <a href="javascript:" original-title="<%=data.mostRecent[i].user_name%>" class="question-author-img tooltip-n">
                                                                    <span>
                                                                        <%=data.mostRecent[i].user_name%>
                                                                    </span>
                                                                    <img alt="" src="/image/111.png" />
                                                                </a>
                                                            </div>
                                                            <div class="question-inner">
                                                                <div class="clearfix"></div>
                                                                <p class="question-desc">
                                                                    <%=data.mostRecent[i].description%>
                                                                </p>
                                                                <div class="question-details">
                                                                        <%
                                                                        if (data.mostRecent[i].is_closed == 1){
                                                                        %>
                                                                    <span class="question-answered question-answered-done">
                                                                        <i class="icon-ok"></i>Closed</span>
                                                                        <% } %>
                                                                    <!-- <span class="question-favorite">
                                                                        <i class="icon-star"></i>5</span> -->
                                                                </div>
                                                                <span class="question-category">
                                                                    <a href="javascript:">
                                                                        <i class="icon-folder-close"></i>
                                                                        <%=data.mostRecent[i].category%>
                                                                    </a>
                                                                </span>
                                                                <span class="question-date">
                                                                    <i class="icon-time"></i>
                                                                    <%=data.mostRecent[i].posting_date%>
                                                                </span>
                                                                <span class="question-comment">
                                                                    <a href="#">
                                                                        <i class="icon-comment"></i>
                                                                        <%=data.mostRecent[i].total_answers %> Answer</a>
                                                                </span>
                                                                <span class="question-view">
                                                                    <i class="icon-user"></i>
                                                                    <%=data.mostRecent[i].view_count%> views</span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                </article>
                                                <% }} %>
                                                    <!-- <a href="#" class="load-questions">
                                                        <i class="icon-refresh"></i>Load More Questions</a> -->
                                        </div>
                                    </div>
                                    <div class="tab-inner-warp">
                                        <div class="tab-inner">
                                                <% if(data.mostResponse.length){ 
                                                    for(var i = 0;i < data.mostResponse.length;i++) { %>
                                                        <article class="question question-type-normal">
                                                            <h2>
                                                                <a href="/getChallengebyID/<%=data.mostResponse[i].challenge_id%>">
                                                                    <%=data.mostResponse[i].title%>
                                                                </a>
                                                            </h2>
        
                                                                    <div class="question-author">
                                                                        <a href="javascript:" original-title="<%=data.mostResponse[i].user_name%>" class="question-author-img tooltip-n">
                                                                            <span>
                                                                                <%=data.mostResponse[i].user_name%>
                                                                            </span>
                                                                            <img alt="" src="/image/111.png" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="question-inner">
                                                                        <div class="clearfix"></div>
                                                                        <p class="question-desc">
                                                                            <%=data.mostResponse[i].description%>
                                                                        </p>
                                                                        <div class="question-details">
                                                                                <%
                                                                                if (data.mostResponse[i].is_closed == 1){
                                                                                %>
                                                                            <span class="question-answered question-answered-done">
                                                                                <i class="icon-ok"></i>Closed</span>
                                                                                <% } %>
                                                                            <!-- <span class="question-favorite">
                                                                                <i class="icon-star"></i>5</span> -->
                                                                        </div>
                                                                        <span class="question-category">
                                                                            <a href="javascript:">
                                                                                <i class="icon-folder-close"></i>
                                                                                <%=data.mostResponse[i].category%>
                                                                            </a>
                                                                        </span>
                                                                        <span class="question-date">
                                                                            <i class="icon-time"></i>
                                                                            <%=data.mostResponse[i].posting_date%>
                                                                        </span>
                                                                        <span class="question-comment">
                                                                            <a href="#">
                                                                                <i class="icon-comment"></i>
                                                                                <%=data.mostResponse[i].total_answers %> Answer</a>
                                                                        </span>
                                                                        <span class="question-view">
                                                                            <i class="icon-user"></i>
                                                                            <%=data.mostResponse[i].view_count%> views</span>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                        </article>
                                                        <% }} %>

                                            <!-- <a href="#" class="load-questions">
                                                <i class="icon-refresh"></i>Load More Questions</a> -->
                                        </div>
                                    </div>
                                    <div class="tab-inner-warp">
                                        <div class="tab-inner">
                                                <% if(data.mostRecentAnswered.length){ 
                                                    for(var i = 0;i < data.mostRecentAnswered.length;i++) { %>
                                                        <article class="question question-type-normal">
                                                            <h2>
                                                                <a href="/getChallengebyID/<%=data.mostRecentAnswered[i].challenge_id%>">
                                                                    <%=data.mostRecentAnswered[i].title%>
                                                                </a>
                                                            </h2>
        
                                                                    <div class="question-author">
                                                                        <a href="/userProfile/<%=data.mostRecentAnswered[i].user_id%>" original-title="<%=data.mostRecentAnswered[i].user_name%>" class="question-author-img tooltip-n">
                                                                            <span>
                                                                                <%=data.mostRecentAnswered[i].user_name%>
                                                                            </span>
                                                                            <img alt="" src="/image/111.png" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="question-inner">
                                                                        <div class="clearfix"></div>
                                                                        <p class="question-desc">
                                                                            <%=data.mostRecentAnswered[i].description%>
                                                                        </p>
                                                                        <div class="question-details">
                                                                                <%
                                                                                if (data.mostRecentAnswered[i].is_closed == 1){
                                                                                %>
                                                                            <span class="question-answered question-answered-done">
                                                                                <i class="icon-ok"></i>Closed</span>
                                                                                <% } %>
                                                                            <!-- <span class="question-favorite">
                                                                                <i class="icon-star"></i>5</span> -->
                                                                        </div>
                                                                        <span class="question-category">
                                                                            <a href="javascript:">
                                                                                <i class="icon-folder-close"></i>
                                                                                <%=data.mostRecentAnswered[i].category%>
                                                                            </a>
                                                                        </span>
                                                                        <span class="question-date">
                                                                            <i class="icon-time"></i>
                                                                            <%=data.mostRecentAnswered[i].posting_date%>
                                                                        </span>
                                                                        <span class="question-comment">
                                                                            <a href="#">
                                                                                <i class="icon-comment"></i>
                                                                                <%=data.mostRecentAnswered[i].total_answers %> Answer</a>
                                                                        </span>
                                                                        <span class="question-view">
                                                                            <i class="icon-user"></i>
                                                                            <%=data.mostRecentAnswered[i].view_count%> views</span>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                        </article>
                                                        <% }} %>

                                            <!-- <a href="#" class="load-questions">
                                                <i class="icon-refresh"></i>Load More Questions</a> -->
                                        </div>
                                    </div>
                                    <div class="tab-inner-warp">
                                        <div class="tab-inner">
                                                <% if(data.NoAnswers.length){ 
                                                    for(var i = 0;i < data.NoAnswers.length;i++) { %>
                                                        <article class="question question-type-normal">
                                                            <h2>
                                                                <a href="/getChallengebyID/<%=data.NoAnswers[i].challenge_id%>">
                                                                    <%=data.NoAnswers[i].title%>
                                                                </a>
                                                            </h2>
        
                                                                    <div class="question-author">
                                                                        <a href="javascript:" original-title="<%=data.NoAnswers[i].user_name%>" class="question-author-img tooltip-n">
                                                                            <span>
                                                                                <%=data.NoAnswers[i].user_name%>
                                                                            </span>
                                                                            <img alt="<%=data.NoAnswers[i].user_name%>" src="/image/111.png" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="question-inner">
                                                                        <div class="clearfix"></div>
                                                                        <p class="question-desc">
                                                                            <%=data.NoAnswers[i].description%>
                                                                        </p>
                                                                        <div class="question-details">
                                                                                <%
                                                                                if (data.NoAnswers[i].is_closed == 1){
                                                                                %>
                                                                            <span class="question-answered question-answered-done">
                                                                                <i class="icon-ok"></i>Closed</span>
                                                                                <% } %>
                                                                            <!-- <span class="question-favorite">
                                                                                <i class="icon-star"></i>5</span> -->
                                                                        </div>
                                                                        <span class="question-category">
                                                                            <a href="javascript:">
                                                                                <i class="icon-folder-close"></i>
                                                                                <%=data.NoAnswers[i].category%>
                                                                            </a>
                                                                        </span>
                                                                        <span class="question-date">
                                                                            <i class="icon-time"></i>
                                                                            <%=data.NoAnswers[i].posting_date%>
                                                                        </span>
                                                                        <span class="question-comment">
                                                                            <a href="#">
                                                                                <i class="icon-comment"></i>
                                                                                <%=data.NoAnswers[i].total_answers %> Answer</a>
                                                                        </span>
                                                                        <span class="question-view">
                                                                            <i class="icon-user"></i>
                                                                            <%=data.NoAnswers[i].view_count%> views</span>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                        </article>
                                                        <% }} %>

                                            <!-- <a href="#" class="load-questions">
                                                <i class="icon-refresh"></i>Load More Questions</a> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End page-content -->
                            </div>
                            <!-- End main -->
                            <% include ./partials/sidebar %>
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
        </div>
        <!-- End wrap -->
        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->




    </body>
    <!-- body part end -->

</html>