<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
    <% include ./partials/header %>
</head>

<body id="wordpress-org" class="plugin-template-default single single-plugin postid-9596 admin-bar no-customize-support no-js">
    <script type="text/javascript">document.body.className = document.body.className.replace('no-js', 'js');</script>
    <% include ./partials/body_header %>
        <div id="page" class="site">
            <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

            <div id="content" class="site-content">
                <header id="masthead" class="site-header " role="banner">
                    <div class="site-branding">
                        <p class="site-title">
                            <a href="javascript:" rel="home">Challenge Board</a>
                        </p>

                        <% include ./partials/nav_menu %>
                        <!-- #site-navigation -->
                    </div>
                    <!-- .site-branding -->
                </header>
                <!-- #masthead -->

                <main id="main" class="site-main" role="main">


                    <article id="post-9596" class="post-9596 plugin type-plugin status-publish hentry plugin_category-discussion-and-community plugin_contributors-trevorpythag plugin_committers-trevorpythag plugin_tags-answers plugin_tags-forum plugin_tags-questions">
                        <!-- .entry-header -->

                        <script type="text/javascript">if ('#changelog' == window.location.hash) { window.location.hash = '#developers'; }</script>
                        

                            <div id="tab-description" class="plugin-description section">
                                <div class="main-questions-list">
                                    <ul id="main_questions_list">
                                        <% if(data.length){ 
                                                for(var i = 0;i < data.length;i++) { %>
                                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-2341 question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2"
                                                data-id="2341">
                                                <div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
                                                    <div class="col-md-8 col-xs-8 q-left-content">
                                                        <div class="q-ltop-content">
                                                            <h2 itemprop="name">
                                                                <a itemprop="url" href="/getChallengebyID/<%=data[i].challenge_id%>" class="question-title">
                                                                    <%=data[i].title%>
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div class="q-lbtm-content">
                                                            <div itemprop="text" class="question-excerpt">
                                                                <p>
                                                                    <%=data[i].description%>
                                                                </p>
                                                            </div>
                                                            <div class="question-cat">
                                                                <ul class="question-tags">
                                                                    <li>
                                                                        <a class="q-tag" href="javascript:">
                                                                            <%=data[i].category%>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="q-tag" href="javascript: ">
                                                                            <%=data[i].level%>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>

                                                                <span title="90" class="user-badge" style="background-color:#04aad4;">Asked By
                                                                    <%=data[i].user_name%>
                                                                </span>
                                                                <span itemprop="dateCreated" datetime="on July 14, 2016" class="question-time">
                                                                    Asked on
                                                                    <%=data[i].posting_date%>
                                                                </span>
                                                                <!-- <span class="question-category">
                                                                <a href="https://qaengine.enginethemes.com/blog/question-category/business/">Business.</a>
                                                            </span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end left content -->
                                                    <div class="col-md-4 col-xs-4 q-right-content">
                                                        <ul class="question-statistic">
                                                            <li>
                                                                <span class="question-views">
                                                                    <%=data[i].view_count%>
                                                                </span>
                                                                views </li>
                                                            <li class="active">
                                                                <span itemprop="answerCount" class="question-answers">
                                                                    <%=data[i].total_answers%>
                                                                </span>
                                                                answers </li>
                                                            <li>
                                                                <span itemprop="upvoteCount" class="question-votes">
                                                                    <%=data[i].upvote_count + data[i].downvote_count%>
                                                                </span>
                                                                votes </li>
                                                        </ul>
                                                        <div class="pumping">
                                                        </div>
                                                    </div>
                                                    <!-- end right content -->
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                            <% }} %>
                                    </ul>
                                </div>
                            </div>

                        <!-- .entry-content -->
                    </article>
                    <!-- #post-## -->

                </main>
                <!-- #main -->


            </div>
            <!-- #content -->


            



            <% include ./partials/footer %>
</body>

</html>