<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header start -->
<% include ./partials/header %>
    <!-- header end -->

    <!-- body start -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">


            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

                    <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1><%=data.challengedetails[0].title%></h1>
                                </div>
                                <div class="col-md-12">
                                    <div class="crumbs">
                                        <a href="/">Home</a>
                                        <span class="crumbs-span">/</span>
                                        <a href="/questionBoard">Challenges</a>
                                        <span class="crumbs-span">/</span>
                                        <span class="current"><%=data.challengedetails[0].title%></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End row -->
                        </section>
                        <!-- End container -->
                    </div>
                    <!-- End breadcrumbs -->

                    <section class="container main-content">
                        <div class="row">
                            <div class="col-md-9">
                                <article class="question single-question question-type-normal">
                                    <h2>
                                        <a href="/getChallengebyID/<%=data.challengedetails[0].challenge_id%>"><%=data.challengedetails[0].title%></a>
                                    </h2>
                                    
                                    <%
                                        if (session.user_id == data.challengedetails[0].user_id && data.challengedetails[0].is_closed == 0){
                                        %>
                                                                            <div class="question-type-main" style="background-color: white">
                                                                                <a href="/closeChallenge/<%=data.challengedetails[0].challenge_id%>" class="button small green-button custom-button">Close Challenge</a>
                                                                            </div>
                                                                            <% } %>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <div class="question-desc">
                                            <p>
                                                <%=data.challengedetails[0].description%>
                                            </p>
                                        </div>
                                        <div class="question-details">
                                                <%
                                                if (data.challengedetails[0].is_closed == 1){
                                                %>
                                            <span class="question-answered question-answered-done">
                                                <i class="icon-ok"></i>Closed</span>
                                                <% } %>
                                            <!-- <span class="question-favorite">
                                                <i class="icon-star"></i>5</span> -->
                                        </div>
                                        <span class="question-category">
                                            <a href="javascript:">
                                                <i class="icon-folder-close"></i><%=data.challengedetails[0].category%></a>
                                        </span>
                                        <span class="question-date">
                                            <i class="icon-time"></i><%=data.challengedetails[0].posting_date%></span>
                                        <span class="question-comment">
                                            <a href="javascript:">
                                                <i class="icon-comment"></i><%=data.challengedetails[0].total_answers%> Answer</a>
                                        </span>
                                        <span class="question-view">
                                            <i class="icon-user"></i><%=data.challengedetails[0].view_count%> views</span>
                                        <span class="single-question-vote-result"><%=data.challengedetails[0].upvote_count - data.challengedetails[0].downvote_count%></span>
                                        <ul class="single-question-vote">
                                            <li>
                                                <a href="/dislikeChallenge/<%=data.challengedetails[0].challenge_id%>" class="single-question-vote-down" title="Dislike">
                                                    <i class="icon-thumbs-down"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/likeChallenge/<%=data.challengedetails[0].challenge_id%>" class="single-question-vote-up" title="Like">
                                                    <i class="icon-thumbs-up"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>

                                <!-- <div class="share-tags page-content">
                                    <div class="question-tags">
                                        <i class="icon-tags"></i>
                                        <a href="#">wordpress</a>,
                                        <a href="#">question</a>,
                                        <a href="#">developer</a>
                                    </div>
                                    <div class="share-inside-warp">
                                        <ul>
                                            <li>
                                                <a href="#" original-title="Facebook">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="20" span_bg="#3b5997" span_hover="#666">
                                                            <i i_color="#FFF" class="social_icon-facebook"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="20" span_bg="#00baf0" span_hover="#666">
                                                            <i i_color="#FFF" class="social_icon-twitter"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a target="_blank" href="#">Twitter</a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="20" span_bg="#ca2c24" span_hover="#666">
                                                            <i i_color="#FFF" class="social_icon-gplus"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank">Google plus</a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="20" span_bg="#e64281" span_hover="#666">
                                                            <i i_color="#FFF" class="social_icon-dribbble"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank">Dribbble</a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="20" span_bg="#c7151a" span_hover="#666">
                                                            <i i_color="#FFF" class="icon-pinterest"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank">Pinterest</a>
                                            </li>
                                        </ul>
                                        <span class="share-inside-f-arrow"></span>
                                        <span class="share-inside-l-arrow"></span>
                                    </div>
                                     End share-inside-warp 
                                     <div class="share-inside">
                                        <i class="icon-share-alt"></i>Share</div>
                                    <div class="clearfix"></div>
                                </div> -->
                                <!-- End share-tags -->

                                <!-- <div class="about-author clearfix">
                                    <div class="author-image">
                                        <a href="javascript:" original-title="<%=data.challengedetails[0].user_name%>" class="tooltip-n">
                                            <img alt="" src="http://placehold.it/60x60/FFF/444">
                                        </a>
                                    </div>
                                    <div class="author-bio">
                                        <h4>About the Author</h4>
                                        Author Description will be given here.
                                    </div>
                                </div> -->
                                <!-- End about-author -->

                                <!-- related question part will be developed later -->
                                <!-- <div id="related-posts">
                                    <h2>Related questions</h2>
                                    <ul class="related-posts">
                                        <li class="related-item">
                                            <h3>
                                                <a href="#">
                                                    <i class="icon-double-angle-right"></i>This Is My Second Poll Question</a>
                                            </h3>
                                        </li>
                                        <li class="related-item">
                                            <h3>
                                                <a href="#">
                                                    <i class="icon-double-angle-right"></i>This is my third Question</a>
                                            </h3>
                                        </li>
                                        <li class="related-item">
                                            <h3>
                                                <a href="#">
                                                    <i class="icon-double-angle-right"></i>This is my fourth Question</a>
                                            </h3>
                                        </li>
                                        <li class="related-item">
                                            <h3>
                                                <a href="#">
                                                    <i class="icon-double-angle-right"></i>This is my fifth Question</a>
                                            </h3>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- End related-posts -->

                                <div id="commentlist" class="page-content">
                                    <div class="boxedtitle page-title">
                                        <h2>Answers (
                                            <span class="color"><%=data.challengedetails[0].total_answers%></span> )</h2>
                                    </div>
                                    <ol class="commentlist clearfix">
                                            <% if(data.answers.length){ 
                                                for(var i = 0;i < data.answers.length;i++) { %>
                                        <li class="comment">
                                            <div class="comment-body comment-body-answered clearfix">
                                                <div class="avatar">
                                                    <img alt="" src="/image/111.png">
                                                </div>
                                                <div class="comment-text">
                                                    <div class="author clearfix">
                                                        <div class="comment-author">
                                                            <a href="/userProfile/<%=data.answers[i].user_id%>"><%=data.answers[i].user_name%></a>
                                                        </div>
                                                        <div class="comment-vote">
                                                            <ul class="question-vote">
                                                                <li>
                                                                    <a href="/likeAnswer/<%=data.challengedetails[0].challenge_id%>/<%=data.answers[i].answer_id%>" class="question-vote-up" title="Like"></a>
                                                                </li>
                                                                <li>
                                                                    <a href="/dislikeAnswer/<%=data.challengedetails[0].challenge_id%>/<%=data.answers[i].answer_id%>" class="question-vote-down" title="Dislike"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <span class="question-vote-result"><%=data.answers[i].upvote_count - data.answers[i].downvote_count%></span>
                                                        <div class="comment-meta">
                                                            <div class="date">
                                                                <i class="icon-time"></i><%=data.answers[i].posting_date%></div>
                                                        </div>
                                                        <!-- we will develop the reply feature later -->
                                                        <!-- <a class="comment-reply" href="#">
                                                            <i class="icon-reply"></i>Reply</a> -->
                                                    </div>
                                                    <div class="text">
                                                        <p>
                                                                <%=data.answers[i].description%>
                                                        </p>
                                                    </div>
                                                    <!-- <div class="question-answered question-answered-done">
                                                        <i class="icon-ok"></i>Best Answer</div> -->
                                                </div>
                                            </div>
                                        </li>
                                        <% }} %>
                                    </ol>
                                    <!-- End commentlist -->
                                </div>
                                <!-- End page-content -->
                                <%
                                        if (data.challengedetails[0].is_closed == 0){
                                        %>
                                <div id="respond" class="comment-respond page-content clearfix">
                                    <div class="boxedtitle page-title">
                                        <h2>Leave an answer</h2>
                                    </div>
                                    <form action="javascript:" method="post" id="commentform" class="comment-form">
                                        <div id="respond-textarea">
                                            <p>
                                                <label class="required" for="comment">Answer
                                                    <span>*</span>
                                                </label>
                                                <textarea id="answer" name="answer" aria-required="true" cols="58" rows="8"></textarea>
                                            </p>
                                        </div>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Post your answer" class="button small color" onclick="getvaluesToAnswer('<%=data.challengedetails[0].challenge_id%>');">
                                        </p>
                                    </form>
                                </div>
                                <% } %>
                                <!-- <div class="post-next-prev clearfix">
                                    <p class="prev-post">
                                        <a href="#">
                                            <i class="icon-double-angle-left"></i>&nbsp;Prev question</a>
                                    </p>
                                    <p class="next-post">
                                        <a href="#">Next question&nbsp;
                                            <i class="icon-double-angle-right"></i>
                                        </a>
                                    </p>
                                </div> -->
                                <!-- End post-next-prev -->
                            </div>
                            <!-- End main -->
                            <% include ./partials/sidebar %>
                            <!-- End sidebar -->
                        </div>
                        <!-- End row -->
                    </section>
                    <!-- End container -->

                                        <!-- body footer start -->
                                        <% include ./partials/body_footer %>
                                        <!-- body footer end -->
        </div>
        <!-- End wrap -->

        <!-- footer started -->
        <% include ./partials/footer_js %>
            <!-- footer end -->
            <script type="text/javascript">
                function getvaluesToAnswer(challenge_id) {
                    var url = "/postanswer";
                    var answer = $("#answer").val();
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            description: answer,
                            challenge_id: challenge_id
                        },
                        async: false,
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function () {
                            alert('Error occured');
                        }
                    });
                }
            </script>
    </body>
    <!-- body part end -->
</html>