<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- header start -->
<% include ./partials/header %>
    <!-- header end -->

    <body>

        <div class="loader">
            <div class="loader_html"></div>
        </div>

        <div id="wrap" class="grid_1200">

            <% include ./partials/header_login %>

                <% include ./partials/body_header %>

				
                    <div class="breadcrumbs">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>User Profile :
                                        <%=data.userProfile[0].user_name%>
                                    </h1>
                                </div>
                                <div class="col-md-12">
                                    <div class="crumbs">
                                        <a href="/">Home</a>
                                        <span class="crumbs-span">/</span>
                                        <span class="current">User Profile :
                                            <%=data.userProfile[0].firstname%>
                                                <%=data.userProfile[0].lastname%>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- End row -->
                        </section>
                        <!-- End container -->
                    </div>
                    <!-- End breadcrumbs -->

                    <section class="container main-content">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="user-profile">
                                        <div class="col-md-12">
                                            <div class="page-content">
                                                <h2>About
                                                    <%=data.userProfile[0].user_name%>
                                                </h2>
                                                <div class="user-profile-img">
                                                    <img width="60" height="60" src="/image/111.png" alt="admin">
                                                </div>
                                                
                                                <div class="ul_list ul_list-icon-ok about-user">
                                                    <ul>
                                                        <!-- <li>
                                                            <i class="icon-plus"></i>First Name :
                                                            <span>
                                                                <%=data.userProfile[0].firstname%>
                                                            </span>
                                                        </li> -->
                                                        <!-- <li>
                                                            <i class="icon-map-marker"></i>Last Name :
                                                            <span>
                                                                <%=data.userProfile[0].lastname%>
                                                            </span>
                                                        </li> -->
                                                        <li>
                                                            <i class="icon-plus"></i>Username :
                                                            <span>
                                                                <%=data.userProfile[0].user_name%>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="icon-map-marker"></i>Email :
                                                            <span>
                                                                <%=data.userProfile[0].user_email%>
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <i class="icon-plus"></i>Payment address :
                                                            <span>
                                                                <%
                                        if (data.userProfile[0].payment_address.length > 0){
                                        %>
                                                                    <span id="paymentAddressSpan">
                                                                        <%=data.userProfile[0].payment_address%>
                                                                    </span>
                                                                    <% } else {%>

                                                                        <blockquote>
                                                                            <p>Payment address is not set.
                                                                                <a href="https://medium.com/nebulasio/creating-a-nas-wallet-9d01b5fa2df6" target="_blank">You can check here to set up payment address.
                                                                                </a>
                                                                            </p>

                                                                        </blockquote>
                                                                        <% } %>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="icon-map-marker"></i>Headline :
                                                            <span id="headlineSpan">
                                                                <%=data.userProfile[0].headline%>
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <i class="icon-map-marker"></i>Topic Interest :
                                                            <span id="headlineSpan">
                                                                <% 
                                                                    var categoryStr = "";
                                                                    if (data.userCategory.length > 0){
                                                                        for (i = 0; i < data.userCategory.length; i++){
                                                                            level = "Proficiency level is not specified.";
                                                                            if (data.userCategory[i].level != ""){
                                                                                level = data.userCategory[i].level;
                                                                            }
                                                                            categoryStr = categoryStr + data.userCategory[i].category_name + '(' + level + ')' + ', '
                                                                        }
                                                                    }
                                                                    categoryStr = categoryStr.slice(0, -2);
                                                                %>
                                                                    <%=categoryStr%>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <% if (data.userProfile[0].user_id == session.user_id){ %>
                                                                <span>
                                                                    <a href="javascript:" id="EditPaymentAddressClick" class="button small blue-button custom-button">
                                                                        <i class="icon-edit">Update Profile</i> - to get better personalized recommendation!
                                                                    </a>
                                                                </span>
                                                                <% } %>
                                                        </li>


                                                    </ul>
                                                </div>
                                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing
                                                    gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque
                                                    at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.
                                                    Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat
                                                    venenatis mi. Pellentesque habitant morbi tristique senectus et netus
                                                    et malesuada .</p> -->
                                                <div class="clearfix"></div>
                                                <!-- <span class="user-follow-me">Follow Me</span>
                                                <a href="#" original-title="Facebook" class="tooltip-n">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239">
                                                            <i class="social_icon-facebook"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" original-title="Twitter" class="tooltip-n">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="30" span_bg="#00baf0" span_hover="#2f3239">
                                                            <i class="social_icon-twitter"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" original-title="Linkedin" class="tooltip-n">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="30" span_bg="#006599" span_hover="#2f3239">
                                                            <i class="social_icon-linkedin"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" original-title="Google plus" class="tooltip-n">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239">
                                                            <i class="social_icon-gplus"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" original-title="Email" class="tooltip-n">
                                                    <span class="icon_i">
                                                        <span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239">
                                                            <i class="social_icon-email"></i>
                                                        </span>
                                                    </span>
                                                </a> -->
                                            </div>
                                            <!-- End page-content -->
                                        </div>
                                        <!-- End col-md-12 -->
                                        
                                        <div class="col-md-12">
                                            <div class="page-content page-content-user-profile">
                                                <div class="user-profile-widget">
                                                    <h2>Recommendations</h2>
                                                    <div class="ul_list ul_list-icon-ok">
                                                        
                     
														<ul id = "rec list">
                                                            <li>Chinese: <a href="https://github.com/Ebookcoin/ebookcoin">Node.js区块链开发</a></li>
                                                            <li>English: <a href="https://github.com/blockchain-ebook/nodejs-blockchain">Use Node.js to develop Blockchain</a>	</li>      
                                                            <li id="link0"></li>
                                                            <li id="link1"></li>
                                                            <li id="link2"></li>
                                                            <li id="link3"></li>
                                                            <li id="link4"></li>
                                                            <li id="link5"></li>
                                                        </ul>

                                                            <script type="text/javascript">
                                                                var host = $(location).attr("hostname")
                                                                var reqUrl = "http://" + $(location).attr("hostname") + "/getRecommendations";
                                                                $.when($.get(reqUrl)).done((r) => {
                                                                for (i=0; i < 6; i++) 
                                                                {
                                                                    var link = r[i]["url"];
                                                                    var category = String(r[i]["category"]).charAt(0).toUpperCase() + String(r[i]["category"]).slice(1);
                                                                    var title = String(r[i]["title"]).replace(/^[0-9]+/,"").replace(/-/g, " ").replace(/\b\w/g, l => l.toUpperCase()).replace(/ /g, "&nbsp");
                                                                    document.getElementById("link"+i).innerHTML=category + ":&nbsp<a href=\"" + link +"\"" + ">" + title + "</a>";
                                                                }
                                                                });
                                                        </script>
                                                        </center>
                                                    </div>
                                                </div>
                                                <!-- End user-profile-widget -->
                                            </div>
                                            <!-- End page-content -->
                                        </div>
                                        <!-- End col-md-12 -->
                                       
                                        <div class="col-md-12">
                                            <div class="page-content page-content-user-profile">
                                                <div class="user-profile-widget">
                                                    <h2>Job Post Recommendations</h2>
                                                    <div class="ul_list ul_list-icon-ok">
                                                        <ul id = "rec list">
                                                            <li id="job0"></li>
                                                            <li id="job1"></li>
                                                            <li id="job2"></li>
                                                            <li id="job3"></li>
                                                        </ul>

                                                        <script type="text/javascript">
                                                                var host = $(location).attr("hostname")
                                                                var reqUrl = "http://" + $(location).attr("hostname") + "/getJobRecommendations";
                                                                $.when($.get(reqUrl)).done((r) => {
                                                                for (i=0; i < 4; i++) 
                                                                {
                                                                    var category = String(r[i]["category"]).charAt(0).toUpperCase() + String(r[i]["category"]).slice(1);
                                                                    var link = r[i]["url"];
                                                                    var title = String(r[i]["title"]).replace(/^[0-9]+/,"").replace(/-/g, " ").replace(/\b\w/g, l => l.toUpperCase()).replace(/ /g, "&nbsp");
                                                                    document.getElementById("job"+i).innerHTML= category + ":&nbsp<a href=\"" + link +"\"" + ">" + title + "</a>";
                                                                }
                                                                });
                                                        </script>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="page-content page-content-user-profile">
                                                <div class="user-profile-widget">
                                                    <h2>User Stats</h2>
                                                    <div class="ul_list ul_list-icon-ok">
                                                        <ul>
                                                            <li>
                                                                <i class="icon-question-sign"></i>
                                                                <a href="javascript:">Challenges
                                                                    <span> (
                                                                        <span>
                                                                            <%=data.questions%>
                                                                        </span> ) </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="icon-comment"></i>
                                                                <a href="javascript:">Answers
                                                                    <span> (
                                                                        <span>
                                                                            <%=data.answers%>
                                                                        </span> ) </span>
                                                                </a>
                                                            </li>
                                                            <!-- <li>
                                                                <i class="icon-star"></i>
                                                                <a href="user_favorite_questions.html">Favorite Questions
                                                                    <span> (
                                                                        <span>3</span> ) </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="icon-heart"></i>
                                                                <a href="user_points.html">Points
                                                                    <span> (
                                                                        <span>20</span> ) </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="icon-asterisk"></i>Best Answers
                                                                <span> (
                                                                    <span>2</span> ) </span>
                                                            </li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- End user-profile-widget -->
                                            </div>
                                            <!-- End page-content -->
                                        </div>
                                        <!-- End col-md-12 -->

                                        <% if(data.allansweredQuestions.length){  %>
                                            <div class="col-md-12">
                                                <div class="page-content page-content-user-profile">
                                                    <div class="user-profile-widget">
                                                        <h2>Challenges Posted by the User</h2>

                                                        <div class="user-questions">

                                                            <% 
                                                                        for(var i = 0;i < data.allQuestions.length;i++) { %>
                                                                <article class="question user-question">
                                                                    <h3>
                                                                        <a href="/getChallengebyID/<%=data.allQuestions[i].challenge_id%>">
                                                                            <%=data.allQuestions[i].title%>
                                                                        </a>
                                                                    </h3>

                                                                    <div class="question-content">
                                                                        <div class="question-bottom">
                                                                            <div class="question-answered">
                                                                                <!-- <i class="icon-ok"></i>in progress</div> -->
                                                                                <!-- <span class="question-favorite">
                                                                                <i class="icon-star"></i>5</span> -->
                                                                                <%
                                                                                                if (data.allQuestions[i].is_closed == 1){
                                                                                                %>
                                                                                    <span class="question-answered question-answered-done">
                                                                                        <i class="icon-ok"></i>Closed</span>
                                                                                    <% } %>
                                                                                        <span class="question-category">
                                                                                            <a href="javascript:">
                                                                                                <i class="icon-folder-close"></i>
                                                                                                <%=data.allQuestions[i].category%>
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="question-category">
                                                                                            <i class="icon-lightbulb"></i>
                                                                                            <%=data.allQuestions[i].level%>
                                                                                        </span>

                                                                                        <span class="question-date">
                                                                                            <i class="icon-time"></i>
                                                                                            <%=data.allQuestions[i].posting_date%>
                                                                                        </span>
                                                                                        <span class="question-comment">
                                                                                            <a href="javascript:">
                                                                                                <i class="icon-comment"></i>
                                                                                                <%=data.allQuestions[i].total_answers %> Answers</a>
                                                                                        </span>
                                                                                        <!-- <a class="question-reply" href="#">
                                                                                <i class="icon-reply"></i>Reply</a> -->
                                                                                        <span class="question-view">
                                                                                            <i class="icon-user"></i>
                                                                                            <%=data.allQuestions[i].view_count%> views</span>
                                                                            </div>
                                                                        </div>
                                                                </article>
                                                                <% } %>
                                                                    </div>


                                                        </div>
                                                        <!-- End user-profile-widget -->
                                                    </div>
                                                    <!-- End page-content -->
                                                </div>
                                                <% } %>
                                                    <!-- End col-md-12 -->


                                                    <% if(data.allansweredQuestions.length){  %>
                                                        <div class="col-md-12">
                                                            <div class="page-content page-content-user-profile">
                                                                <div class="user-profile-widget">
                                                                    <h2>Challenges Answered by the User</h2>

                                                                    <div class="user-questions">

                                                                        <% 
                                                                                for(var i = 0;i < data.allansweredQuestions.length;i++) { %>
                                                                            <article class="question user-question">
                                                                                <h3>
                                                                                    <a href="/getChallengebyID/<%=data.allansweredQuestions[i].challenge_id%>">
                                                                                        <%=data.allansweredQuestions[i].title%>
                                                                                    </a>
                                                                                </h3>

                                                                                <div class="question-content">
                                                                                    <div class="question-bottom">
                                                                                        <div class="question-answered">
                                                                                            <!-- <i class="icon-ok"></i>in progress</div> -->
                                                                                            <!-- <span class="question-favorite">
                                                                                        <i class="icon-star"></i>5</span> -->
                                                                                            <%
                                                                                                        if (data.allansweredQuestions[i].is_closed == 1){
                                                                                                        %>
                                                                                                <span class="question-answered question-answered-done">
                                                                                                    <i class="icon-ok"></i>Closed</span>
                                                                                                <% } %>
                                                                                                    <span class="question-category">
                                                                                                        <a href="javascript:">
                                                                                                            <i class="icon-folder-close"></i>
                                                                                                            <%=data.allansweredQuestions[i].category%>
                                                                                                        </a>
                                                                                                    </span>
                                                                                                    <span class="question-category">
                                                                                                        <i class="icon-lightbulb"></i>
                                                                                                        <%=data.allansweredQuestions[i].level%>
                                                                                                    </span>
                                                                                                    <span class="question-date">
                                                                                                        <i class="icon-time"></i>
                                                                                                        <%=data.allansweredQuestions[i].posting_date%>
                                                                                                    </span>

                                                                                                    <span class="question-comment">
                                                                                                        <a href="javascript:">
                                                                                                            <i class="icon-comment"></i>
                                                                                                            <%=data.allansweredQuestions[i].total_answer %> Answers</a>
                                                                                                    </span>
                                                                                                    <!-- <a class="question-reply" href="#">
                                                                                        <i class="icon-reply"></i>Reply</a> -->
                                                                                                    <span class="question-view">
                                                                                                        <i class="icon-user"></i>
                                                                                                        <%=data.allansweredQuestions[i].view_count%> views</span>
                                                                                        </div>
                                                                                    </div>
                                                                            </article>
                                                                            <% } %>
                                                                                </div>


                                                                    </div>
                                                                    <!-- End user-profile-widget -->
                                                                </div>
                                                                <!-- End page-content -->
                                                            </div>
                                                            <% } %>




                                                        </div>
                                                        <!-- End user-profile -->
                                            </div>
                                            <!-- End row -->
                                            <div class="clearfix"></div>


                                            <!-- <div class="user-stats">
                                        <div class="user-stats-head">
                                            <div class="block-stats-1 stats-head">#</div>
                                            <div class="block-stats-2 stats-head">Today</div>
                                            <div class="block-stats-3 stats-head">Month</div>
                                            <div class="block-stats-4 stats-head">Total</div>
                                        </div>
                                        <div class="user-stats-item">
                                            <div class="block-stats-1">Questions</div>
                                            <div class="block-stats-2">5</div>
                                            <div class="block-stats-3">20</div>
                                            <div class="block-stats-4">100</div>
                                        </div>
                                        <div class="user-stats-item">
                                            <div class="block-stats-1">Answers</div>
                                            <div class="block-stats-2">30</div>
                                            <div class="block-stats-3">150</div>
                                            <div class="block-stats-4">1000</div>
                                        </div>
                                        <div class="user-stats-item user-stats-item-last">
                                            <div class="block-stats-1">Visitors</div>
                                            <div class="block-stats-2">100</div>
                                            <div class="block-stats-3">3000</div>
                                            <div class="block-stats-4">5000</div>
                                        </div>
                                    </div> -->
                                            <!-- End user-stats -->

                                            <!-- End page-content -->
                                    </div>
                                    <!-- End main -->
                                    <% include ./partials/sidebar %>
                                        <!-- End sidebar -->
                                </div>






                                <!-- End row -->
                    </section>
                    <!-- End container -->

                    <!-- body footer start -->
                    <% include ./partials/body_footer %>
                        <!-- body footer end -->
                        <!-- End footer-bottom -->
                        </div>
                        <!-- End wrap -->

                        <!-- footer started -->
                        <% include ./partials/footer_js %>
                            <!-- footer end -->

    </body>
    
</html>
